html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1e5c1e;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e5c1e;
  z-index: 1;
}

/* JOYSTICK */
#joystick {
  position: fixed;
  bottom: 40px;
  left: 30px;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  z-index: 5;
}

#stick {
  width: 50px;
  height: 50px;
  background: lime;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 35px;
}

/* SHOOT */
#shootBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 16px;
  border: none;
  z-index: 5;
}
