body {
  margin: 0;
  overflow: hidden;
  background: #1e5c1e;
}

canvas {
  display: block;
}

#joystick {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
}

#stick {
  width: 50px;
  height: 50px;
  background: lime;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 35px;
}

#shootBtn {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 18px;
  border: none;
}
